<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/mahaa/IdeaProjects/Automation-Testing-Framwork"><classes><class name="Tests.HomeTest"><methods><include name="checkImgSrc"/></methods></class></classes></test></suite>